<head>
	<title>Mocha Spec Runner</title>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<link rel="stylesheet" type="text/css" href="bower_components/mocha/mocha.css">
</head>
<body ng-app="Demo">
	<div id="mocha"></div>
	<script type="text/javascript" src="bower_components/mocha/mocha.js"></script>
	<script type="text/javascript" src="bower_components/chai/chai.js"></script>
	<script type="text/javascript">
		mocha.setup('bdd');
	</script>
	<script type="text/javascript" src="bower_components/angular-mocks/angular-mocks.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<script type="text/javascript" src="main.spec.js"></script>
	<script type="text/javascript">
		mocha.run();
	</script>
</body>