<head>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
</head>
<body ng-app="Demo">
	<h1>TDD Demo</h1>
	<div ng-controller="contactController">
		<div ng-repeat="contact in contacts">
			{{contact.name}}
		</div>
	</div>
	<script type="text/javascript" src="main.js"></script>
</body>